/* This is bootstap inspired http://getbootstrap.com */
a{
    color:#428BCA;
    text-decoration:none;
}
a:hover, a:focus{
    color:#2A6496;
    text-decoration:underline;
}
a:focus{
    outline:thin dotted;
    outline-offset:-2px;
}
h1,h2,h3,h4,h5{
    font-weight:500;
}
.panelContainer{
    background:#f2f2f2;
    border:1px solid #e2e2e2;
    border-radius:5px;
    padding:10px 40px 10px 10px;
    font-family:sans-serif, helvetica, arial;
    min-width:300px;
    color:rgb(50,50,50);
}
.panelContainer *, .panelContainer{
    box-sizing:border-box;
}
.panelChoose{
    float:left;
    width:200px;
    border-right: 1px solid rgb(212, 212, 212);
}
.panelChoose{
    color:rgb(120,120,120);
}
.panelTitle a{
    padding:0 80px 0 15px;
}
ul.panelNav{
    list-style:none;
    padding-left:0px;
}
.panelNav li a{
    padding:10px 15px;
    display:block;
}
.panelContent{
    margin-left:250px;
}
.panelRed{
    color:#F00
}
.panelRedDisable{
    color:rgb(255, 115, 115);
}
.panelGreen{
    color:#008000;
}
.panelBlue{
    color:#00F;
}
.panelLeft{
    float:left;
}
.panelRight{
    float:right;
}
.panelBrowse{
    margin-bottom:40px;
}
.browseInputDelete{
    display:none;
}
.browseImg{
    width:100%;
    box-shadow:0 0 10px rgb(100,100,100);
}
.uploadRight{
    float:right;
    margin:40px 10px 0 0;
    width:40%;
}
.uploadImg{
    width:100%;
    box-shadow:0 0 10px rgb(100,100,100);
}
.panelTextarea{
    width:100%;
    height:25em;
    font-family:monospace;
}
.panelList li{
    list-style:outside;
}
.panelClear{
    clear:both;
}
.panelContainer input, .panelContainer textarea, select{
    box-shadow:rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    text-decoration: none solid rgb(85, 85, 85);
    border:1px solid rgb(204, 204, 204);
    border-radius:4px;
    padding:6px 12px;
    color:rgb(85, 85, 85);
    background-color:rgb(255, 255, 255);
}
.panelContainer input:focus, .panelContainer textarea:focus {
    border-color:#66afe9;
}
.panelContainer input[type="text"], .panelContainer input[type="password"]{
    width:100%;
}
input.panelBtnBlue{
    color:#fff;
    cursor:pointer;
    background-color:#428bca;
    border-color:#357ebd;
}
input.panelBtnBlue:hover{
    background-color:#3276B1;
    border-color:#285E8E;
}
input.panelBtnGreen{
    color:#fff;
    cursor:pointer;
    background-color:rgb(92,184,92);
    border-color:rgb(76,174,76);
}
input.panelBtnGreen:hover{
    background-color:rgb(71,164,71);
    border-color:rgb(57,132,57);
}
input.panelBtnRed{
    color:#fff;
    cursor:pointer;
    background:rgb(217, 83, 79);
    border-color:rgb(212, 63, 58);
}
input.panelBtnRed:hover{
    background-color:rgb(210, 50, 45);
    border-color:rgb(172, 41, 37);
}

/* Dynamic rules */

@media all and (max-width: 1300px){
    .uploadRight{
        float:none;
        width:100%;
    }
    .panelLeft{
        float:none;
    }
}
@media all and (max-width: 550px){
    .panelContainer{
        padding:10px;
    }
    .panelChoose{
        width:100%;
        float:none;
        border-right:none;
        border-bottom:1px solid rgb(212, 212, 212);
        text-align:center;
    }
    .panelContent{
        margin-left:0;
    }
    .panelTitle a{
        padding:0 60px;
    }
}
