/* This is bootstap inspired http://getbootstrap.com */
#panelContainer a{
    color:#428BCA;
    text-decoration:none;
}
#panelContainer a:hover,#panelContainer a:focus{
    color:#2A6496;
    text-decoration:underline;
}
#panelContainer a:focus{
    outline:thin dotted;
    outline-offset:-2px;
}
#panelContainer h1, #panelContainer h2,#panelContainer h3,#panelContainer h4,#panelContainer h5{
    font-weight:500;
}
#panelContainer{
    background:#f2f2f2;
    border:1px solid #e2e2e2;
    border-radius:5px;
    padding:10px 40px 10px 10px;
    font-family:sans-serif, helvetica, arial;
    min-width:300px;
    color:rgb(50,50,50);
}
#panelContainer *, #panelContainer{
    box-sizing:border-box;
}
#panelContainer .panelChoose{
    float:left;
    width:200px;
    border-right: 1px solid rgb(212, 212, 212);
}
#panelContainer .panelChoose{
    color:rgb(120,120,120);
}
#panelContainer .panelTitle a{
    padding:0 80px 0 15px;
}
#panelContainer ul.panelNav{
    list-style:none;
    padding-left:0px;
}
#panelContainer .panelNav li a{
    padding:10px 15px;
    display:block;
}
#panelContainer .panelContent{
    margin-left:250px;
}
#panelContainer .panelRed{
    color:#F00;
}
#panelContainer .panelYellow{
    color:rgb(201, 156, 0);
}
}
#panelContainer .panelRedDisable{
    color:rgb(255, 115, 115);
}
#panelContainer .panelGreen{
    color:#008000;
}
#panelContainer .panelBlue{
    color:#00F;
}
#panelContainer .panelBGBlue{
    background-color:#428bca;
}
#panelContainer .panelBGRed{
    background-color:#F00
}
#panelContainer .panelLeft{
    float:left;
}
#panelContainer .panelRight{
    float:right;
}
#panelContainer .panelBrowse{
    margin-bottom:40px;
}
#panelContainer .browseInputDelete{
    display:none;
}
#panelContainer .browseImg{
    max-width:100%;
    box-shadow:0 0 10px rgb(100,100,100);
}
#panelContainer .uploadRight{
    float:right;
    margin:40px 10px 0 0;
    width:40%;
}
#panelContainer .uploadImg{
    width:100%;
    box-shadow:0 0 10px rgb(100,100,100);
}
#panelContainer .panelTextarea{
    width:100%;
    height:25em;
    font-family:monospace;
}
#panelContainer .panelList li{
    list-style:outside;
}
#panelContainer .panelClear{
    clear:both;
}
#panelContainer select{
    width:100%;
}
#panelContainer input, #panelContainer textarea, #panelContainer select{
    box-shadow:rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    text-decoration: none solid rgb(85, 85, 85);
    border:1px solid rgb(204, 204, 204);
    border-radius:4px;
    padding:6px 12px;
    color:rgb(85, 85, 85);
    background-color:rgb(255, 255, 255);
}
#panelContainer input:focus, #panelContainer textarea:focus {
    border-color:#66afe9;
}
#panelContainer input[type="text"], #panelContainer input[type="password"]{
    width:100%;
}
#panelContainer input.panelBtnBlue{
    color:#fff;
    cursor:pointer;
    background-color:#428bca;
    border-color:#357ebd;
}
#panelContainer input.panelBtnBlue:hover{
    background-color:#3276B1;
    border-color:#285E8E;
}
#panelContainer input.panelBtnGreen{
    color:#fff;
    cursor:pointer;
    background-color:rgb(92,184,92);
    border-color:rgb(76,174,76);
}
#panelContainer input.panelBtnGreen:hover{
    background-color:rgb(71,164,71);
    border-color:rgb(57,132,57);
}
#panelContainer input.panelBtnRed{
    color:#fff;
    cursor:pointer;
    background:rgb(217, 83, 79);
    border-color:rgb(212, 63, 58);
}
#panelContainer input.panelBtnRed:hover{
    background-color:rgb(210, 50, 45);
    border-color:rgb(172, 41, 37);
}
#panelContainer .panelReadonly{
    background: rgb(221, 221, 221);
}
#panelContainer .panelHide{
    display:none;
}
#panelContainer .noticeIcon{
    border-radius: 50%;
    color: #fff;
    cursor: help;
    width: 25px;
    display: inline-block;
    font-size: 20px;
    float:right;
    text-align:center;
}

/* Dynamic rules */

@media all and (max-width: 1300px){
    #panelContainer .uploadRight{
        float:none;
        width:100%;
    }
    #panelContainer .panelLeft{
        float:none;
    }
}
@media all and (max-width: 550px){
    #panelContainer .panelContainer{
        padding:10px;
    }
    #panelContainer .panelChoose{
        width:100%;
        float:none;
        border-right:none;
        border-bottom:1px solid rgb(212, 212, 212);
        text-align:center;
    }
    #panelContainer .panelContent{
        margin-left:0;
    }
    #panelContainer .panelTitle a{
        padding:0 60px;
    }
}
