html{ 
    font-family: arial;
    font-size:1em;
}
.container{
    width:90%;
    margin:0 auto;
    padding:10px;
}
.post{
    width:800px;
    margin:0 auto 20px;
    box-shadow:0 0 5px 1px rgba(0,0,0,0.2);
    padding:1em; border-radius:5px;
}
.postTitle{
    font-size:1.5em;
    float:left;
}
.postDate{
    float:right;
    text-align:right;
}
.postEdit{
    font-size:0.8rem;
    font-style:italic;
}
.postFooter{
    text-align:right;
}
